<div class="communication-block">
    <div class="messages nano" id="messages_list">
        <div class="nano-content">
            <div class="message" ng-class="{'right': loggedUser._id === m.from._id}" ng-repeat="m in messages" ng-init="$last ? prettyChatList() : ''">
                <b ng-if="loggedUser._id !== m.from._id">{{m.from.name}}: </b>{{m.text}}
            </div>
            <div id="message_bottom"></div>
        </div>
    </div>
    <div class="inputs">
        <textarea rows="2" class="form-control" ng-model="message" ng-enter="sendTextMessage();"></textarea>
        <button class="btn btn-success" ng-click="sendTextMessage();">Send</button>
    </div>
</div>
