.authentication-block {
    width: 100%;
    height: 100%;
}

.authentication-block .login-block {
    padding: 20px;
    width: 350px;
    height: 180px;
    display: block;
    margin: 50px auto 0 auto;
    border: 1px solid #E1E5EC;
    text-align: center;
}

.authentication-block .login-block .title {
    margin: 0;
    padding: 0;
    font-size: 17px;
    font-weight: 500;
    line-height: 30px;
}

.authentication-block .login-block input {
    margin-top: 20px;
}

.authentication-block .login-block button {
    margin-top: 20px;
}
