<div class="login-block">
    <p class="title">Welcome</p>
    <input type="text" class="form-control input-sm" placeholder="Enter your name" ng-model="user.name" ng-enter="login()">
    <button class="btn btn-success" ng-click="login()">Go</button>
</div>
