.communication-block {
    width: 100%;
    height: 100%;
}

.communication-block .messages {
    width: 100%;
    height: calc(100% - 54px);
    padding: 10px 20px;
}

.communication-block .messages .nano-content{
    padding: 0 20px;

}

.communication-block .message {
    width: 100%;
    line-height: 20px;
    padding: 5px;
    font-size: 15px;
    font-weight: 300;
}

.communication-block .message.right{
    text-align: right;
    color: #578EBE;
}

.communication-block .inputs {
    width: 100%;
    height: 54px;
}

.communication-block .inputs textarea{
    resize: none;
    width: calc(100% - 70px);
    height: 54px;
    display: inline-block;
    vertical-align: middle;
}

.communication-block .inputs button{
    height: 54px;
    width: 54px;
    vertical-align: middle;
}
